@font-face {
    font-family: 'MyCustomFont'; 
    src: url('https://staryui.com/cdn/font/HYWenHei-75W-2.ttf') format('truetype');
}

body {
    font-family: 'MyCustomFont', sans-serif;
    background: url('https://t.mwm.moe/pc/') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.table-container {
   background-color: rgba(255,255,255,0.9);
   padding: 20px;
   border-radius: 10px;
   width: 80%;
}

.table th, .table td {
   text-align:center; 
   vertical-align:middle;
}

/* Add your color classes */
.cheater {
   color:#b30000 !important; 
}
